// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";


#nav-menu-large ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-menu-large ul li
{
    float: left;
    width: 33.33%;
    height: 6em; 
    text-align: center;

}

#nav-menu-large ul li a
{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin:1px;
    
    /*padding-left: 14%;*/
    padding-top: 50px;
}

#nav-menu-medium ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-menu-medium ul li
{
    float: left;
    width: 33.33%;
    height: 6em; 
    text-align: center;

}

#nav-menu-medium ul li a
{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin:1px;
    
    /*padding-left: 14%;*/
    padding-top: 50px;
}

#nav-menu-small-portrait ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-menu-small-portrait ul li
{
    float: left;
    width: 33.33%;
    height: 10em; 
    padding-top: 2em;
}

#nav-menu-small-portrait ul li a
{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
    text-align: left;
    text-decoration: none;
    margin:1px;
    
    padding-left: 4%;
    //padding-top: 50px;
}

#nav-menu-small-landscape ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-menu-small-landscape ul li
{
    float: left;
    width: 33.33%;
    height: 10em; 
    padding-top: 2em;
    //text-align: center;

}

#nav-menu-small-landscape ul li a
{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
    text-align: left;
    text-decoration: none;
    margin:1px;
    
    padding-left: 14%;
    //padding-top: 50px;
}

div.left
{
float: left;
width: 50%;
}

div.right
{
float: right;
width: 50%; text-align: right;
}

.clear
{
    clear: both;
}

ul.langs
{
    position: absolute;
    padding: 5.46em 0.5em 0 0.95em;
    max-width: 30em;
}

div.toplogo
{
    padding: 0.5em 0.5em 0 0;
}

.bar
{
     height: 1em;
     background-color: #504f53;
}

.barbottom
{
    height: 1em;
    background-color: #e7e7e7;
}

.footerbg
{
    background-color: #f7f7f7;
}

.topmargin
{
    margin-top: 1.5em;
}

.bottommargin
{
    margin-bottom: 2em;
}

ul.langlist
{
    margin: 0;
}

.smallertext
{
    font-size: emCalc(12px);
}

.sliderbutton
{
    text-align: right;
    vertical-align: bottom;
}

.slideleft
{
    // color: #fff;
    padding: 1em 0 0 5em;
}

.slideright
{
    float: right;
    border: solid 4px #e7e7e7;
}

[data-clearing]
{
    margin-bottom: 0;
    list-style: none;
}

[data-clearing] li
{
    float: left;
    margin-right: 10px;
}

a.th
{
    display: block;
}

.th
{
    line-height: 0;
    display: inline-block;
    border: solid 2px #e7e7e7;
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

img.content-img
{
    display: inline-block;
    vertical-align: middle;
}

div.top
{
    width:100%;
    margin:0px;
    line-height:150%;
}

div.right
{
    float:right;
}

.lang-item
{
    list-style: none;
}

.lang-item
{
    display: inline;
}

#contact-modal
{
    input.success{
        border: 1px solid green;
        background: #f7ffef;
    }
    
    input.error{
        border: 1px solid red;
        background: #fff2ef;
    }
    
    button.success{
        border: 1px solid green;
    }
    
    button.error{
        border: 1px solid red;
    }
    
    .message-container
    {
        font: bold 1em Arial;
    }
}

div.categories
{
    text-align: left;
}

a.subtitles
{
    color: #504f53;
    font-size: emCalc(16px);
    font-weight: bold;
    font-style: none;
    text-transform: uppercase;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

a.subtitles:hover
{
    color: #369abe;
}

a.subtitle-divider
{
    border-left: 4px solid #504f53;
    font-weight: bold; 
}

.load
{
    display: block;
    margin: auto;
}

#loading
{
    display: none;
    
}

.large-footerpanel
{
    height: emCalc(160px);
}

.med-footerpanel
{
    height: emCalc(220px);
}

.small-port-footerpanel
{
    height: auto;
}

.small-land-footerpanel
{
    height: emCalc(240px);
}

div.visible-img
{
    img
    {
        border: solid 4px #e9e9e9;
    }
}

.rotate
{
    text-transform: uppercase;
}

.article-thumbs
{
    padding: 6px;
}

#mask
{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9000;
    background-color: #e7e7e7;
    width: 100%;
    height: 100%;
}

// Scrollbar
::-webkit-scrollbar-thumb:vertical
{
    background-color: #504f53;
    height: 50px;
    -moz-border-radius: 15px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:horizontal
{
    background-color: #504f53;
    height: 50px !important;
}

::-webkit-scrollbar
{ 
    height: 10px;
    width: 5px;
    background-color: #f4f4f4;
}

.totopbutton
{
    position: fixed;
    bottom: 3.15em;
    right: 0em;
    text-decoration: none;
    text-align: center;
    color: #444;
    opacity: 0.7;
    font-size: 2em;
    padding: 0.5em;
    display: none;

    i{
        margin: 0;
        padding: 0;
    }
}

.mailus
{
    position: fixed;
    bottom: 0.95em;
    right: 0em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    opacity: 0.7;
    font-size: 2em;
    padding: 0.5em;
    display: none;

    i{
        margin: 0;
        padding: 0;
    }
}

.phoneus
{
    position: fixed;
    bottom: -1.25em;
    right: 0em;
    display: inline;
    text-decoration: none;
    text-align: center;
    color: #fff;
    opacity: 0.7;
    font-size: 2em;
    padding: 0.5em;
    display: none;

    i{
        margin: 0;
        padding: 0;
    }
}

.totopbutton-large
{
    position: fixed;
    bottom: 0.95em;
    right: 0em;
    text-decoration: none;
    text-align: center;
    color: #444;
    opacity: 0.7;
    font-size: 2em;
    padding: 0.5em;
    display: none;

    i{
        margin: 0;
        padding: 0;
    }
}

.mailus-large
{
    position: fixed;
    bottom: -1.25em;
    right: 0em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    opacity: 0.7;
    font-size: 2em;
    padding: 0.5em;
    display: none;

    i{
        margin: 0;
        padding: 0;
    }
}

.show-for-large-up .orbit-container .orbit-next
{
    right: 4px;
}

.show-for-medium .orbit-container .orbit-next
{
    right: 4px;
}

.show-for-large-up .orbit-container .orbit-timer.paused > span
{
    right: 6px;
    top: 9px;
    width: 11px;
    height: 14px;
    border: inset 8px;
    border-right-style: solid;
    border-color: transparent transparent transparent #fff;
}

.orbit-container .orbit-timer > span
{
    display: none;
    position: absolute;
    top: 10px;
    right: 12px;
    width: 11px;
    height: 14px;
    border: solid 4px #bbb;
    border-top: none;
    border-bottom: none;
}

.show-for-large-up .orbit-container .orbit-timer
{
    position: absolute;
    top: 4px;
    right: 4px;
    height: 2px;
    width: 480px;
}

.show-for-small .orbit-container .orbit-timer
{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 4px;
    width: 100%;
}

.show-for-medium .orbit-container .orbit-timer
{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 2px;
    width: 100%;
}

.orbit-timer {background-color: #e7e7e7; }